<article>
    <h1>{{title}}</h1>
    {{{text}}}
    <footer>
        <dl>
            <dt>Address:</dt>
            <dd>{{address.streetName}} {{address.streetNumber}}</dd>
            <dt>Floor:</dt>
            <dd>{{address.floor}}</dd>
            <dt>Address Type:</dt>
            <dd>{{address.addressType.typeName}}</dd>
    </footer>
</article>
{{> cta}}